.dynamic-fare {
    font-size: 0;
}

.trip-day:focus-within,
.trip-eve:focus-within,
.trip-mix:focus-within,
.trip-fare:focus-within {
    font-size: initial;
}


/* TODO: hide buttons...
.dynamic-fare input {
    height: 0;
}
 */


/* TODO: ... but not all of them 
.dynamic-fare input:not(.zone-btn) {
    height: 0;
}
*/


/* TODO: now use focus within to show them
.dynamic-fare input:not(.zone-btn):focus-within {
    height: initial;
}
*/


/* Question: why didn't that work? */


/*
.dynamic-fare:focus-within input:not(.zone-btn) {
    height: initial;
}

*/