.dynamic-fare {
    font-size: 0;
}

.trip-day:focus-within,
.trip-eve:focus-within,
.trip-mix:focus-within,
.trip-fare:focus-within {
    font-size: initial;
}

.dynamic-fare input:not(.zone-btn) {
    height: 0;
}

.dynamic-fare:focus-within input:not(.zone-btn) {
    height: initial;
}

.zone-btn {
    position: absolute;
    left: 0;
}

.zone-btn.zone1 {
    top: 145px;
}

.zone-btn.zone2 {
    top: 185px;
}

.zone-btn.zone3 {
    top: 225px;
}

.zone-btn.zone4 {
    top: 265px;
}