.dynamic-fare {
    font-size: 0;
}

.trip-day:focus-within,
.trip-eve:focus-within,
.trip-mix:focus-within,
.trip-fare:focus-within {
    font-size: initial;
}

.dynamic-fare input:not(.zone-btn) {
    height: 0;
}

.dynamic-fare:focus-within input:not(.zone-btn) {
    height: initial;
}