.dynamic-fare {
    font-size: 0;
}


/* TODO: Use focus:within to display some hidden text text */

.dynamic-fare:focus-within {
    font-size: initial;
}


/* 
*/


/* .trip-fare:focus-within {
    font-size: initial;
}  */


/* 
.trip-day:focus-within,
.trip-eve:focus-within,
.trip-mix:focus-within,
.trip-fare:focus-within {
    font-size: initial;
}
*/